.collapsibleMain {
    -webkit-box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-top: 1px solid #ddd;
}

.collapsibleHead {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%);
}